
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #fff;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.shadow-button {
	box-shadow: 0 0 20px rgba(38,38,38,.2);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100vh;
    /* object-fit: unset; */
}


.col-xs-5,

.col-sm-5,

.col-md-5,

.col-lg-5 {

  min-height: 1px; 

  position: relative;

}

.col-xs-5 {

  float: left;

  width: 20%;

}

@media (min-width: 768px) {

  .col-sm-5 {

    float: left;

    width: 20%;

  }

}

@media (min-width: 992px) {

  .col-md-5 {

    float: left;

    width: 20%;

  }

}

@media (min-width: 1200px) {

  .col-lg-5 {

    float: left;

    width: 20%;

  }

}

.multi-carousel {
  opacity: 0;
  padding: 0 25px;
}
.multi-carousel .carousel-control-next,
.multi-carousel .carousel-control-prev {
  width: 25px;
  background: #e3342f;    
}

ul.thumb li {
  list-style: none;
  margin: 0 10px; 
  width:125px;
  height:100px;

  @media(max-width: 768px){
      height: 50px;
  }
}


.div-images-zoom {
        overflow: hidden;
        padding: 0 0;
    }
    .div-images-zoom img {
        max-width: 100%;
        transition: linear 0.2s;
        padding: 0 0;
    }

    .div-images-zoom:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        padding: 0 0px;

    }

    .div-images-zoom-no-overflow{
        overflow:inherit;
        padding: 0 0;
    }


    .div-images-zoom-no-overflow img {
        max-width: 100%;
        transition: linear 0.2s;
        padding: 0 0;
    }

    .div-images-zoom-no-overflow:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        padding: 0 0px;
    }