
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.shadow-button {
	box-shadow: 0 0 20px rgba(38,38,38,.2);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 65vh;
    /* object-fit: unset; */
}


.col-xs-5,

.col-sm-5,

.col-md-5,

.col-lg-5 {

  min-height: 1px; 

  position: relative;

}

.col-xs-5 {

  float: left;

  width: 20%;

}

@media (min-width: 768px) {

  .col-sm-5 {

    float: left;

    width: 20%;

  }

}

@media (min-width: 992px) {

  .col-md-5 {

    float: left;

    width: 20%;

  }

}

@media (min-width: 1200px) {

  .col-lg-5 {

    float: left;

    width: 20%;

  }

}